<div class="container">

  <h1>{{title}}</h1>

  <div class="">
    <ul class="nav nav-pills">
      <!-- routerLinkActive="active" : class="active" 속성을 라우팅 처리에 따라 동적으로 변경해주는 설정  -->
      <li routerLinkActive="active"><a routerLink="home">HOME</a></li>
      <li routerLinkActive="active"><a routerLink="about">ABOUT</a></li>
      <li routerLinkActive="active"><a routerLink="contact">CONTACT</a></li>
    </ul>
  </div>
  <div class="change">
    <router-outlet></router-outlet>
  </div>
  <!-- 'router-outlet' is not a known element: 모듈.ts 파일에 imports 부분이 정의 되지 않았다. -->

  <div class="x">
    <app-home></app-home>
  </div>

  <div class="">
    <app-about></app-about>
  </div>

  <div class="">
    <app-contact></app-contact>
  </div>

</div>


<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  
</div> -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->